html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY CSS */

*{
	box-sizing: border-box;
}

h1{
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
}

h2{
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
}

h3, a{
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
}

h4{
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

h5{
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}

h6{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
}

.button {
	width: 100%;
	height: 50px;
	border: 2px solid transparent;
	border-radius: 4px;
	font-family: "poppins";
	padding: 0;
}

body{
	font-family: 'Poppins'
}

/* home page */

.main{
	margin: 0 20px 0 20px;
	max-width: 500px;
}

.main__home{
	overflow-x: hidden;
	position: relative;
	height: auto;
}

#maphome{
	position: absolute; 
	top: 87; 
	bottom: 0; 
	width: 100%; 
	height: auto
}


.mapboxgl-control-container .mapboxgl-ctrl-top-right{
	right:  20;
	
	top: initial;
	bottom: 100;
}

@media (max-width:376px) {
	.mapboxgl-control-container .mapboxgl-ctrl-top-right{
		bottom: 50px;
	}
}

.mapboxgl-control-container .mapboxgl-ctrl-top-right .mapboxgl-ctrl{
	/* float: none; */
	height: 50px;
	width: 50px;
}

.mapboxgl-ctrl-group button.mapboxgl-ctrl-geolocate{
	width: 100%;
	height: 100%;
	content: "start";
}

div.mapboxgl-ctrl button.mapboxgl-ctrl-geolocate .mapboxgl-ctrl-icon{
	/* background-image: none; */
	
	width: 100%;

}


.popup-styling.mapboxgl-popup .mapboxgl-popup-content {
 width: auto;
 display: flex;
 flex-direction: row;
 gap: 20px;
}



.main__title{
	font-size: 60px;
	margin-top: 66px;
	margin-bottom: 33px;
	text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
	position: fixed;
	left: 40;
	z-index: 2;
	color: white;
  mix-blend-mode: difference;
	margin-top: 133px;
}

@media (max-width:376px){
	.main__title{
		font-size: 42px;
	}
	
}

.main__title.open{
	left: -350px;
	-webkit-transition: left 2.6s ease;
	-moz-transition: left 2.6s ease;
	transition: left 2.6s ease;
}

.main__notice{
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	color:white;
  mix-blend-mode:difference;
	position: fixed;	
	z-index: 2;
	right: 60;
  width: 250px;
	bottom: 115;
	text-shadow: 3px 4px 7px rgba(81,67,21,0.8)
}

@media(max-width:376px){
	.main__notice{
		bottom: 65px;
	}
}

.main__notice.open{
	right: -400;
	-webkit-transition: right 2.6s ease;
	-moz-transition: right 2.6s ease;
	transition: right 2.6s ease; 
}

.main__dogs-container{
  display: flex;
	flex-direction: column;
	justify-content: center;
	width: auto;
	gap:27px;
	margin-bottom: 20px;
}

@keyframes open-animation {
	from{
		transform: translateY(100%)
	}
	to{
		transform: translateY(0%);
	}
}

/* component DOGCARD */

.main__dog-card{
	display: flex;
	flex-direction: column;
	height: 234px;
	width: 335px;
	bottom: 30px;
	left: 0;
	right: 0;
	margin: auto;
	border: 3px solid #161616;
	border-radius: 7px;
	position: fixed;
	z-index: 3;
	background-color: white;
	animation: open-animation .5s ease;
}


.main__dog-card.close{
	bottom: -270px;
	-webkit-transition: bottom 0.4s ease;
	-moz-transition: bottom 0.4s ease;
	transition: bottom 0.4s ease; 
}

.card__pet-image{
	height: 147px;
	overflow:hidden;
}


.main__dog-card-text{
	position: relative;
  /* overflow: hidden; */
	height: 30%;
}

.main__dog-name{
	font-size: 30px;
	overflow: hidden;
	margin-left: 15px;
	text-overflow: clip;
	width: 200px;
	height: 50px;
}

.main__dog-location{
	margin-left: 17px;
}

.main__report-info{
  position: absolute;
	float: right;
	top: 20px;
	right: 20px;
	width: 120px;
	text-align: right;
	text-decoration-line: underline;
}

.edit-mode-pen{
	position: absolute;
	float: right;
	top: 20px;
	right: 20px;
}

.main__report-info{
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #3E91DD;
	text-transform: uppercase;
}
      
/* session */

.email__form, .datos__form, .password__form{
	margin: 20px;
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.email__form-data, .password__form-data{
	max-width: 450px;
	margin: 0;
	width: 100%;
}

.datos__form div{
	width: 100%;
	max-width: 600px;

}

.datos__input-contras{
  display: flex;
	flex-direction: column;
	gap:10px;
}

.email__button, .password__button{
	margin-top: 30px;
	background-color: #FF9DF5;
	max-width: 600px;
}

.email__input, .datos__input, .password__input, .nombre__input, .ubicacion__input{
	width: 100%;
	border: 2px solid #000000;
	border-radius: 5px;
	height: 50px;
}

/* datos */

.datos__container{
	max-width: 500px;
	margin: auto;
	padding-top:20px;
}

/* password */

.password__form{
	max-width: 450px;
	border: none;
}

@media (min-width:480px) {
	.password__form{
		margin: auto;
		margin-top: 120px;
	}
	
}

.password__input-div{
	width: 100%;
}

/* reportar */

.reportar__section form{
	margin-top: 113px;
	margin-bottom: 20px;
	padding-left: 17px;
	padding-right: 17px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

@media (min-width:420px) {
	.reportar__section form{
		margin-top: 50px;
  }
}

.mapbox-map{
	width: 100%;
	height: 208px;
}

.dropzone-previews{
	background-image: url("./media/image7.png");
	background-size: 100% 100%;
	height: 180px;
	width: auto;
	overflow: hidden;
}

/* REPORTADAS */

#no-reportadas{
	padding-left: 30px;
}

@media (max-width: 376px) {
	#no-reportadas{
		padding-left: 15px;
	}
}

@media (min-width:420px) {
#no-reportadas{
	font-size: 32px;
	margin-top: 200px;
}}

#mascotas-section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
	gap: 20px;
	width: 336px;
	margin: auto
} 

@media (max-width: 376px) {
	#mascotas-section{
		padding-top: 100px;
	}
}

@media (min-width:800px) {
	#mascotas-section{
		padding: 142px 30px 0px 30px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 1128px;
		grid-gap: 40px;
	}
}

.card-container{
	width: 336px;
}

.edit-mode-pen{
	margin-top: 5px;
	width: 30px;
}

/* reportar */

.reportar__section{
	max-width: 500px;
	margin: auto;
	margin-top: 100px;
}

.reportar__form-button-agregar-foto{
	background-color: #97EA9F;
}

.reportar__input-container{
  display: flex;
	flex-direction: row;
	gap: 10px;
}

.reportar__form-button-location{
	width: 75px;
	background-color:#97EA9F;
}

.reportar__submit-button-container{
	display: flex;
	flex-direction: column;
	gap: 17px;
}

.reportar__despublicar{
	width: 100%;
	text-align: center;
	text-decoration: underline;
	color: #FF3A3A
}

.cancelar{
	background-color:#ff8080;
	;
}